.idea/
test/serenity/.idea/
src/ContosoBooks/bin/Debug/
src/ContosoBooks/bin/Release/
src/ContosoBooks/obj/Debug
src/ContosoBooks/obj/Release
test/ContosoBooks/bin/Debug/
test/ContosoBooks/bin/Release
test/ContosoBooks/obj/Debug
test/ContosoBooks/obj/Release
test/serenity/build/
test/serenity/target/